.montserrat{
    position: static;
    width: 135px;
    height: 36px;
    left: 0px;
    top: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color:#424242
}
._card-text{
    color:#616161;
}
    
._campaigns{
    color:#424242;
    font-family: 'Montserrat';
    font-weight: 700 !important;
    

}
._all{
    color:#00A5B4 !important
}
._time{
   font-size: smaller;
}

