.montserrat{
    position: static;
    width: 135px;
    height: 36px;
    left: 0px;
    top: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color:#424242
}
._card-text{
    color:#616161;
    
    
}

