.card-title{
    position: static;
    width: 135px;
    height: 36px;
    left: 0px;
    top: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color:#424242
}
.card-text{
    color:#616161;
    
    
}
.icon1{
    background: #CEFBFF;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    left: 7px;
    right: 7px;
    top: 2px;
    bottom: 8.5px;
    
}
.icon2{
    border-radius: 20px;
    width: 35px;
    height: 35px;
    background: rgba(242, 153, 74, 0.2);
    left: 7px;
    right: 7px;
    top: 2px;
    bottom: 8.5px;
}
.icon3{
    background: rgba(0, 180, 18, 0.2);
    border-radius: 20px;
    width: 35px;
    height: 35px;
    left: 7px;
    right: 7px;
    top: 2px;
    bottom: 8.5px;

}
